body {
    margin: 0;
    padding: 0;

    canvas {
        float: right;
    }

    form {
        left: 0;
        padding-left: 8px;
        position: fixed;
        top: 0;
        width: 17vw;

        fieldset,
        legend {
            background-color: rgba(232, 237, 244, 0.802);
            margin-top: 0.7em;
        }

        legend {
            background-color: rgba(232, 237, 244, 0.802);
            border: 1px solid rgb(156, 156, 156);
            border-bottom: none;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding: 2px 10px 0 8px;
    
            &.red { background-color: rgba(255, 0, 0, 0.2); }
            &.green { background-color: rgba(0, 255, 0, 0.2); }
            &.blue { background-color: rgba(0, 0, 255, 0.2); }
        }

        .state-button {
            background-color: rgba(232, 237, 244, 0.802);
            border: 1px solid rgb(156, 156, 156);
            border-radius: 8px;
            font-size: large;
            padding: 4px 10px 2px 8px;
        }
    }

    &.show-grid {
        background-image: linear-gradient(45deg, #CCCCCC 25%, transparent 25%), linear-gradient(-45deg, #CCCCCC 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #CCCCCC 75%), linear-gradient(-45deg, transparent 75%, #CCCCCC 75%);
        background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
        background-size: 30px 30px;
    }
}
